@media only screen and (min-width: 43rem) {

    body {
        font-size: 16px;
    }
    
    nav button {display: none;}

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        padding: .8rem 1rem;
    }

    nav ul.hide {display: block;}

    #hero div {
        grid-template-columns: 7.3rem 4rem;
    }

    #forecast{
        display: grid;
    }

    img.authorpic {
        width:40%;
    }

    #contact {
        flex-direction: row;
        height: 12rem;
    }
    #contact > div {
        margin-right: .4rem;
    }
    #map {
        display: block;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

    .cards section{
        flex-grow: 1;
        width: 40%;
        height: auto;
    }

} /*end medium */